/.update-submodules
/.build/
/.cache/
/.install/
/.venv/
/.vscode/

/cmake.bld
/compile_commands.json

/papers/**/*.aux
/papers/**/*.bbl
/papers/**/*.blg
/papers/**/*.dvi
/papers/**/*.fdb_latexmk
/papers/**/*.fls
/papers/**/*.idx
/papers/**/*.log
/papers/**/*.out
/papers/**/*.pdf
/papers/**/*.toc
/papers/**/*.xtr
/papers/**/.deps/
/papers/**/.venv.work/
/papers/**/.venv/
/papers/**/_minted-*/
/papers/**/_minted-optional_ref/
/papers/**/_minted-optional_ref_wording/
/papers/**/_minted-view-maybe.work/
/papers/**/generated/
/papers/**/_minted/
